body {
  background: pink;
  font-weight: bold;
  font-size: 16px;
}
ul {
  font-size: 18px;
}
.title {
  text-align: center;
}
.paragraph {
 margin-left: 20px;
 margin-top: 20px;
 line-height: 1.5;
}
.food-pic {
  height: 100px;
  width: 100px;
}
.contact-form {
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  width: 265px
}
input {
  float: right;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
